@import url(https://fonts.googleapis.com/css?family=Roboto:700);
 
* {
    box-sizing: border-box;
}
:root{
    --subscriber-color: #0000ff;
    --vip-color: #00008b;
    --moderator-color: #90ee90;
    --broadcaster-color: #8b0000;
    --viewer-color: #202020;
    --padding-total:10px;
    --padding-left-right:30px;
    --marginBetweenMessageAndName:5px;
    --nameFontSize:16pt;
    --messageFontSize:10pt;
}
html, body {
    height: 100%;
    overflow: hidden;
}
 
body {
    font-family: 'Roboto';
    background: {background_color};
    font-size: {font_size};
    color: {text_color};
    width:100%;
}
 
#log>div {
    max-height: 1000px;
    animation: fadeInBottom 1s ease forwards, fadeOut 2s ease {message_hide_delay} forwards;
    -webkit-animation: fadeInBottom 1s ease forwards, fadeOut 2s ease {message_hide_delay} forwards;
}
@keyframes fadeInBottom {
   0% {
      max-height: 0px;
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
 
#log {
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    table-layout: fixed;
      width: 100%;
}
 
#log > div {
      display: block;
      padding: 3px;
      padding-right: 15px;
      width:100%;
}
 
#log > div.deleted {
    visibility: hidden;
}
 
#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}
 
#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}
 
#log .message, #log .meta {
    vertical-align: top;
    display: table-cell;
    padding-bottom: 0.1em;
    z-index:2;
}
#log .meta {
    top:20;
    position:relative;
}
#log .message{
  display:block;
  background-color: white;
  color:black;
  border:2px solid var(--viewer-color);
  width:100%;
  border-radius:0px;
  padding:10px;
  padding-left:25px;
  margin-top:var(--marginBetweenMessageAndName);
  margin-left: 25px;
  word-wrap: break-word;
  z-index:1;
  padding-top:25px;
  font-size:12pt;
}

#log .message:has( .subscriber-icon){
    border-color:var(--subscriber-color);
}
#log .message:has( .vip-icon){
    border-color:var(--vip-color);
}
#log .message:has( .broadcaster-icon){
    border-color:var(--broadcaster-color);
}

.badge {
    display:contents;
    margin-right: 0.2em;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.1em;
    opacity: 1;
}
 
.name {
    color:white;
    background-color:var(--viewer-color);
    font-weight:bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Roboto';
    font-size: var(--nameFontSize);
    text-transform: uppercase;
    padding-top: var(--padding-total);
    padding-bottom: var(--padding-total);
    padding-left: calc(var(--padding-total) + var(--padding-left-right));
    padding-right: calc((var(--padding-total) + var(--padding-left-right))/2);
    letter-spacing: 2px;
}
.name:has( .subscriber-icon) {
    color:white;
    background-color:var(--subscriber-color);
    font-weight:bold;
}
.name:has( .vip-icon) {
    color:white;
    background-color:var(--vip-color);
    font-weight:bold;
}
.name:has( .broadcaster-icon)  {
    color:white;
    background-color:var(--broadcaster-color);
    font-weight:bold;
}
.name:has( .type-icon)  {
    color:white;
    background-color:var(--moderator-color);
    font-weight:bold;
}
#log .nameAfter{
    width: 0;
    height: 0;
    position: relative;
    border-top: calc(var(--padding-total)*3 + 16px) solid var(--viewer-color);
    border-right: calc(var(--padding-total)*2 + 6px) solid transparent;
    top: calc(var(--padding-total)*2 + 17px); 
}
#log .nameAfter:has( .subscriber-icon){
    border-top-color:var(--subscriber-color);
}
#log .nameAfter:has( .vip-icon){
    border-top-color:var(--vip-color);
}
#log .nameAfter:has( .broadcaster-icon){
    border-top-color:var(--broadcaster-color);
}
#log .nameAfter:has( .type-icon)  {
    border-top-color:var(--moderator-color);
}